numpy==1.21.2
matplotlib==3.4.3
Rtree==0.9.7 
Shapely==1.7.1 
click-plugins==1.1.1 
cligj==0.7.2 
fiona==1.8.20 
geopandas==0.9.0 
munch==2.5.0 
pandas==1.3.2 
pyproj==3.1.0
networkx==2.6.2
osmnx==1.1.1
mpmath==1.2.1
